<footer class="footer--section" data-bg-img="/Content/User/img/footer-img/footer-widget-bg.jpg">
    <div class="footer--widgets pt--70 pb--20">
        <div class="container">
            <div class="row AdjustRow">
                <div class="col-md-3 col-xs-6 col-xss-12 pb--60">
                    <div class="widget">
                        <h2 class="h4 widget--title text-uppercase">Company Info</h2>
                        <div class="about--widget">
                            <div class="logo">
                                <img src="~/Content/User/img/logo.png" alt="">
                            </div><address> <p>52 Shewrapara, Ibrahimpur, Mirpur 2653, Dhaka.</p></address>
                            <dl>
                                <dt><i class="fa fa-envelope-o"></i>Email</dt>
                                <dd>
                                    <p>

                                        <span>Sales:</span> <a href="tel:00123412345" class="btn-link">ateeqkhalil@gmail.com</a>

                                    </p>
                                    <p>
                                        <span>Support:</span> <a href="tel:00123412345" class="btn-link">ateeqkhalil@gmail.com</a>
                                    </p>
                                </dd>
                            </dl>
                            <dl>
                                <dt><i class="fa fa-phone"></i>Phone</dt>
                                <dd>
                                    <p>
                                        <span>Sales:</span>  <a href="tel:00123412345" class="btn-link">001 234 12345</a>
                                    </p>
                                    <p>
                                        <span>Support:</span>  <a href="tel:00123412345" class="btn-link">001 234 12345</a>
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-3 col-xss-6 pb--60">
                    @*<div class="widget">
                            <h2 class="h4 widget--title text-uppercase">Resources</h2>
                            <div class="links--widget">
                                <ul class="nav">
                                    <li>
                                        <a href="#">Hosting</a>
                                    </li>
                                    <li>
                                        <a href="#">Dedicated Hosting</a>
                                    </li>
                                    <li>
                                        <a href="#">VPS Hosting</a>
                                    </li>
                                    <li>
                                        <a href="#">Professional Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Reseller Hosting</a>
                                    </li>
                                    <li>
                                        <a href="#">Cloud Hosting</a>
                                    </li>
                                    <li>
                                        <a href="#">System Status</a>
                                    </li>
                                    <li>
                                        <a href="#">Referral System</a>
                                    </li>
                                    <li>
                                        <a href="#">Forum</a>
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                </div>
                <div class="col-md-3 col-xs-6 col-xss-12 pb--60">
                    <div class="widget">
                        <h2 class="h4 widget--title text-uppercase">Quick Links</h2>
                        <div class="links--widget">
                            <ul class="nav">
                                <li>
                                    <a href="~/Home/Index">Home</a>
                                </li>
                                <li>
                                    <a href="~/Home/Work">How it's Work</a>
                                </li>
                                <li>
                                    <a href="~/Home/Packages">Packages</a>
                                </li>
                                <li>
                                    <a href="~/Home/Index">Training</a>
                                </li>
                                <li>
                                    <a href="~/Home/Index">Contact</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-xss-12 pb--60">
                    <div class="widget">
                        <h2 class="h4 widget--title text-uppercase">NewsLetter</h2>
                        <div class="newsletter--widget">
                            <div class="desc">
                                <p>Dolor sit amet consectetur adipisicing elit sed do tempor ut labore</p>
                            </div>
                            <form action="#" method="post" name="mc-embedded-subscribe-form" target="_blank" data-form="validate">
                                <input type="text" name="EMAIL" placeholder="Email" class="form-control" required>
                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </form>
                        </div>
                    </div>
                    <div class="widget">
                        <h2 class="h4 widget--title text-uppercase">Payment Methods</h2>
                        <div class="img---widget">
                            <img src="~/Content/User/img/footer-img/payment-methods.png" alt="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer--copyright pt--30 pb--30">
        <div class="container">
            <ul class="social nav">
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                </li>
            </ul>
            <p class="copyright--text">Copyright 2017 &copy; <a href="#">CloudSky</a>. All Rights Reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>