
<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("Admin/Side_Navigation");
            }

            <!-- top navigation -->
            @{
                Html.RenderPartial("Admin/Top_Navigation");
            }

            <div class="right_col" role="main">
                <div class="">
                    
                </div>
            </div>
        </div>
    </div>

</body>