<body>
    @{
        Html.RenderPartial("Web/Top_Navigation");
    }

    <section class="banner--section">
        <div class="banner--slider owl-carousel" data-owl-dots="true" data-owl-loop="false">
            <div class="banner--item bg--overlay" data-bg-img="/Content/User/Images/60592451_m_0.jpg">
                <div class="vc--parent">
                    <div class="vc--child">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="banner--content text-center pt--60 pb--80">
                                        <div class="title text-uppercase">
                                            <h1 class="h1">Employee</h1>
                                            <h2 class="h1"><strong>Packages</strong></h2>
                                        </div>

                                        <div class="action">
                                            <a href="#" class="btn btn-lg btn-primary">Our Plans<i class="ml--8 fa fa-check-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pricing--section pt--70 pb--80">
        <div class="container">
            <div class="section--title pb--50 text-center">
                <h2 class="h1 text-uppercase">Employee Packages</h2>
              
            </div>
            
            <div class="tab-content">
                <div class="tab-pane fade in active" id="pricingTab01">
                    <div class="pricing--slider owl-carousel" data-owl-margin="30" data-owl-autoplay="false" data-owl-loop="false" data-owl-nav="true" data-owl-responsive='{"0":{"items": "1"}, "551":{"items": "2"}, "768":{"items": "3"}, "992":{"items": "3"}, "1200":{"items": "4"}}'>

                        <div class="pricing--item pt--10">
                            <div class="title text-uppercase">
                                <h3 class="h4"> <span class="vc--parent"> <span class="vc--child">Golden Package</span> </span> </h3>
                            </div>
                            <div class="price">
                                <p>
                                    <small>$</small>32<small>/mo</small>
                                </p>
                            </div>
                            <div class="features">
                                <ul class="nav">
                                    <li>24/7 Support</li>
                                    <li>5TB Bandwidth</li>
                                    <li>100GB Hosting Space</li>
                                    <li>16GB Memory</li>
                                    <li>100 Free Domain</li>
                                    <li>User Analytics</li>
                                </ul>
                            </div>
                            <div class="action">
                                <a href="#" class="btn btn-default">Select Plan<i class="ml--8 fa fa-check-circle"></i></a>
                            </div>
                        </div>
                        <div class="pricing--item pt--10">
                            <div class="title text-uppercase">
                                <h3 class="h4"> <span class="vc--parent"> <span class="vc--child">Diamond Package</span> </span> </h3>
                            </div>
                            <div class="price">
                                <p>
                                    <small>$</small>69<small>/mo</small>
                                </p>
                            </div>
                            <div class="features">
                                <ul class="nav">
                                    <li>24/7 Support</li>
                                    <li>5TB Bandwidth</li>
                                    <li>100GB Hosting Space</li>
                                    <li>16GB Memory</li>
                                    <li>100 Free Domain</li>
                                    <li>User Analytics</li>
                                </ul>
                            </div>
                            <div class="action">
                                <a href="#" class="btn btn-default">Select Plan<i class="ml--8 fa fa-check-circle"></i></a>
                            </div>
                        </div>
                        <div class="pricing--item pt--10">
                            <div class="title text-uppercase">
                                <h3 class="h4"> <span class="vc--parent"> <span class="vc--child">Platinum package</span> </span> </h3>
                            </div>
                            <div class="price">
                                <p>
                                    <small>$</small>99<small>/mo</small>
                                </p>
                            </div>
                            <div class="features">
                                <ul class="nav">
                                    <li>24/7 Support</li>
                                    <li>5TB Bandwidth</li>
                                    <li>100GB Hosting Space</li>
                                    <li>16GB Memory</li>
                                    <li>100 Free Domain</li>
                                    <li>User Analytics</li>
                                </ul>
                            </div>
                            <div class="action">
                                <a href="#" class="btn btn-default">Select Plan<i class="ml--8 fa fa-check-circle"></i></a>
                            </div>
                        </div>
                        <div class="pricing--item pt--10">
                            <div class="title text-uppercase">
                                <h3 class="h4"> <span class="vc--parent"> <span class="vc--child">Dedicated Package</span> </span> </h3>
                            </div>
                            <div class="price">
                                <p>
                                    <small>$</small>199<small>/mo</small>
                                </p>
                            </div>
                            <div class="features">
                                <ul class="nav">
                                    <li>24/7 Support</li>
                                    <li>5TB Bandwidth</li>
                                    <li>100GB Hosting Space</li>
                                    <li>16GB Memory</li>
                                    <li>100 Free Domain</li>
                                    <li>User Analytics</li>
                                </ul>
                            </div>
                            <div class="action">
                                <a href="#" class="btn btn-default">Select Plan<i class="ml--8 fa fa-check-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    
    @{
        Html.RenderPartial("Web/Footer");
    }
</body>