<body>
    @{
        Html.RenderPartial("Web/Header");
    }
    @*<section class="page--content--section pt--80">
        <div class="container">
            <div class="row row--vc-md">
                <div class="col-md-5 col-sm-6 pb--60">
                    <div class="page--content-img" data-scroll-reveal="left">
                        <img src="~/Content/img/about-img/01.jpg" alt="">
                    </div>
                    
                </div>
                <div class="col-md-7 col-sm-6 pb--60">
                    <div class="page--content-inner" data-scroll-reveal="right">
                        <div class="title">
                            <h2 class="h1">Why Choose Us</h2>
                        </div>
                        <div class="sub-title">
                            <h3 class="h3">Few Company Information</h3>
                        </div>
                        <div class="desc">
                            <h4>Our Mission</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="desc">
                            <h4>Our Vission</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="desc">
                            <h4>Our Strategy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
    <section class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="tg-aboutus">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6">
                        <div class="tg-textshortcode">
                            <div class="tg-titleshortcode">
                                <h2><span class="new_color">Welcome!</span><span class="new_color_dale">Know more about us</span></h2>
                            </div>
                            <div class="tg-description">
                                <p class="new_p">Above all, we value people. We trust each one of those whom we interact with. When in doubt, trust. We trust the work of each one and respect their decisions. This can be seen in the absence of authority and control. We know we must be aligned with the purpose and that we can trust our team partners so that our results turn out for the best.</p>
                                <p class="new_p">We are passionate about what we do and this feeling motivates us to make a difference in our lives, as well as those of our customers and partners. We always ask our customers if they were not only satisfied, but also happy with our work. This is what is most relevant and we feel extremely accomplished when we finish a job that has provided happiness to all of those involved.</p>
                            </div>
                         
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                        <div class="tg-imgshortcode tg-multiimg">
                            
                            <figure><div class="tg-imgholder"><img src="~/Content/User/Images/img-02.jpg" alt="image description"></div></figure>
                            <figure><div class="tg-imgholder"><img src="~/Content/User/Images/img-03.jpg" alt="image description"></div></figure>
                            <figure><div class="tg-imgholder"><img src="~/Content/User/Images/img-04.jpg" alt="image description"></div></figure>
                            <figure><div class="tg-imgholder"><img src="~/Content/User/Images/img-05.jpg" alt="image description"></div></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials--section pb--70">
        <div class="container">
            <div class="section--title pb--50 text-center">
                <h2 class="h1 text-uppercase new_color">Customer's Feedback</h2>
               
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial--slider owl-carousel" data-owl-dots="true" data-owl-margin="30" data-owl-speed="2000">
                        <div class="testimonial--item">
                            <div class="content text-center">
                                <div class="img">
                                    <img src="~/Content/User/img/testimonial-img/client-01.jpg" alt="">
                                    
                                </div>
                                <blockquote>
                                    <p class="new_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuovod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim quis nostrud exercitation.</p>
                                </blockquote>
                            </div>
                            
                            <div class="name new_color_dale">
                                <p>Maria Doe</p>
                            </div>
                        </div>
                        <div class="testimonial--item">
                            <div class="content text-center">
                                <div class="img">
                                    <img src="~/Content/User/img/testimonial-img/client-02.jpg" alt="">
                                </div>
                                <blockquote>
                                    <p class="new_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuovod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim quis nostrud exercitation.</p>
                                </blockquote>
                            </div>
                            <div class="name new_color_dale">
                                <p>Alan Palmer</p>
                            </div>
                        </div>
                        <div class="testimonial--item">
                            <div class="content text-center">
                                <div class="img">
                                    <img src="~/Content/User/img/testimonial-img/client-03.jpg" alt="">
                                </div>
                                <blockquote>
                                    <p class="new_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuovod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim quis nostrud exercitation.</p>
                                </blockquote>
                            </div>
                            <div class="name new_color_dale">
                                <p>Nicole Morrison</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="counter--section pt--80 pb--50 bg--overlay" data-bg-img="/Content/User/img/counter-img/bg.jpg">
        <div class="container">
            <div class="row AdjustRow">
                <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                    <div class="counter--item style--1">
                        <div class="img">
                            <img src="~/Content/User/img/counter-img/icon-01.png" alt="">
                        </div>
                        <div class="title">
                            <h2 class="h4">Happy Costomers</h2>
                        </div>
                        <div class="count">
                            <h3 class="h1 new_color"><span data-trigger="counterUp">302</span>+</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                    <div class="counter--item style--1">
                        <div class="img">
                            <img src="~/Content/User/img/counter-img/icon-02.png" alt="">
                        </div>
                        <div class="title">
                            <h2 class="h4 ">Hosting Servers Sold</h2>
                        </div>
                        <div class="count">
                            <h3 class="h1 new_color"><span data-trigger="counterUp">502</span>+</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                    <div class="counter--item style--1">
                        <div class="img">
                            <img src="~/Content/User/img/counter-img/icon-03.png" alt="">
                        </div>
                        <div class="title">
                            <h2 class="h4">Our Data Center</h2>
                        </div>
                        <div class="count">
                            <h3 class="h1 new_color"><span data-trigger="counterUp">150</span>+</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                    <div class="counter--item style--1">
                        <div class="img">
                            <img src="~/Content/User/img/counter-img/icon-04.png" alt="">
                        </div>
                        <div class="title">
                            <h2 class="h4">Team Members</h2>
                        </div>
                        <div class="count">
                            <h3 class="h1 new_color"><span data-trigger="counterUp">690</span>+</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
    <section class="clients--section pt--70 pb--50">
            <div class="container">
                <div class="section--title pb--50 text-center">
                    <h2 class="h1 text-uppercase new_color">We Work With</h2>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="row" data-scroll-reveal="group">
                    <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                        <div class="client--brand">
                            <img src="~/Content/User/img/client-img/client-brand-01.png" alt="">

                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                        <div class="client--brand">
                            <img src="~/Content/User/img/client-img/client-brand-02.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                        <div class="client--brand">
                            <img src="~/Content/User/img/client-img/client-brand-03.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                        <div class="client--brand">
                            <img src="~/Content/User/img/client-img/client-brand-04.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                        <div class="client--brand">
                            <img src="~/Content/User/img/client-img/client-brand-05.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                        <div class="client--brand">
                            <img src="~/Content/User/img/client-img/client-brand-06.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                        <div class="client--brand">
                            <img src="~/Content/User/img/client-img/client-brand-07.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6 col-xss-12 pb--30">
                        <div class="client--brand">
                            <img src="~/Content/User/img/client-img/client-brand-08.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    @{
        Html.RenderPartial("Web/Footer");
    }
</body>