<body>
    @{
        Html.RenderPartial("Web/Top_Navigation");
    }

    <section class="banner--section">
        <div class="banner--slider owl-carousel" data-owl-dots="true" data-owl-loop="false">
            <div class="banner--item bg--overlay" data-bg-img="/Content/User/img/banner-shared-img/slider-bg.jpg">
                <div class="vc--parent">
                    <div class="vc--child">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="banner--content text-center pt--60 pb--80">
                                        <div class="title text-uppercase">
                                            <h1 class="h1">How It's</h1>
                                            <h2 class="h1"><strong>Work</strong></h2>
                                        </div>

                                        <div class="action">
                                            <a href="~/Home/Packages" class="btn btn-lg btn-primary">Our Plans<i class="ml--8 fa fa-check-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start service -->
    <section id="service" class="service section" data-stellar-background-ratio="0.3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                    <div class="section-title">
                        <h2 style="color: #ff9a52;">How it's Work</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
                    <!-- Single service -->
                    <div class="single-service">
                        <i class="fa fa-adjust"></i>
                        <h4>Unlimited Colors</h4>
                        <p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
                    <!--/ End service -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
                    <!-- Single service -->
                    <div class="single-service">
                        <i class="fa fa-bars"></i>
                        <h4>Easy To Use</h4>
                        <p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
                    <!--/ End service -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
                    <!-- Single service -->
                    <div class="single-service">
                        <i class="fa fa-edit"></i>
                        <h4>Easy to customize</h4>
                        <p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
                    <!--/ End service -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
                    <!-- Single service -->
                    <div class="single-service">
                        <i class="fa fa-plus"></i>
                        <h4>Pixel Perfect</h4>
                        <p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
                    <!--/ End service -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
                    <!-- Single service -->
                    <div class="single-service">
                        <i class="fa fa-code"></i>
                        <h4>Well Code</h4>
                        <p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
                    <!--/ End service -->
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="1s">
                    <!-- Single service -->
                    <div class="single-service">
                        <i class="fa fa-random"></i>
                        <h4>Fully Editable</h4>
                        <p>Lorem ipsum dolor amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
                    </div>
                    <!--/ End service -->
                </div>
            </div>
        </div>
    </section>
    <!--/ End service -->

    <section class="faq--section pt--80 pb--20">
        <div class="container">
            <div class="section--title pb--50 text-center">
                <h2 class="h1 text-uppercase">Frequently asked questions</h2>
               
            </div>
            <div class="row row--vc-md">
                <div class="pb--60">
                    <div class="faq--items panel-group" id="faqItems01" data-scroll-reveal="right">
                        <div class="faq--item panel">
                            <div class="panel-heading">
                                <h3 class="h4"> <a href="#faqItems01_1" data-toggle="collapse" data-parent="#faqItems01"> <i class="fa fa-cloud"></i> <span>Would i be able to gain more than bundles?</span> </a> </h3>
                            </div>
                            <div id="faqItems01_1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>Indeed, You can procure more than bundles. We will give you Custom bundle which will deal with target base. Be that as it may, for custom bundle, we need to check our laborers. That is the reason You need to finish brilliant or precious stone bundle first.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="faq--item panel">
                            <div class="panel-heading">
                                <h3 class="h4"> <a href="#faqItems01_2" class="collapsed" data-toggle="collapse" data-parent="#faqItems01"> <i class="fa fa-database"></i> <span>What is SSL security?</span> </a> </h3>
                            </div>
                            <div id="faqItems01_2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="faq--item panel">
                            <div class="panel-heading">
                                <h3 class="h4"> <a href="#faqItems01_3" class="collapsed" data-toggle="collapse" data-parent="#faqItems01"> <i class="fa fa-server"></i> <span>What is shared web hosting?</span> </a> </h3>
                            </div>
                            <div id="faqItems01_3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                        <div class="faq--item panel">
                            <div class="panel-heading">
                                <h3 class="h4"> <a href="#faqItems01_4" class="collapsed" data-toggle="collapse" data-parent="#faqItems01"> <i class="fa fa-lock"></i> <span>Is my website protected from hackers?</span> </a> </h3>
                            </div>
                            <div id="faqItems01_4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Consectetur adipisicing elit, sed do eiusmod tempor incunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <div id="rs-team2" class="rs-team sec-spacer">
        <div class="container">
            <h2>Our Team Members</h2>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="single-member-area">
                        <figure><img class="img-responsive" src="~/Content/User/images/1.jpg" alt="Codeless"></figure>
                        <div class="overlay">
                            <div class="overlay-element">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <article>
                            <div class="content">
                                <h3><a href="team-details.html">Waqar Gilani</a></h3>
                                <div class="member-title">Supervisor</div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="single-member-area">
                        <figure><img class="img-responsive" src="~/Content/User/images/2.jpg" alt="Codeless"></figure>
                        <div class="overlay">
                            <div class="overlay-element">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <article>
                            <div class="content">
                                <h3><a href="team-details.html">Muzammil Hanif</a></h3>
                                <div class="member-title">Senior Developer</div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="single-member-area">
                        <figure><img class="img-responsive" src="~/Content/User/images/3.jpg" alt="Codeless"></figure>
                        <div class="overlay">
                            <div class="overlay-element">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <article>
                            <div class="content">
                                <h3><a href="team-details.html">Saif Khan</a></h3>
                                <div class="member-title">Manager</div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="single-member-area">
                        <figure><img class="img-responsive" src="~/Content/User/images/4.jpg" alt="Codeless"></figure>
                        <div class="overlay">
                            <div class="overlay-element">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <article>
                            <div class="content">
                                <h3><a href="team-details.html" data-id="1" class="cl-single-item-popup">Ateeq khalil</a></h3>
                                <div class="member-title">Founder &amp; Lead Developer</div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="single-member-area">
                        <figure><img class="img-responsive" src="~/Content/User/images/1.jpg" alt="Codeless"></figure>
                        <div class="overlay">
                            <div class="overlay-element">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <article>
                            <div class="content">
                                <h3><a href="team-details.html">RONNIE BENDAL</a></h3>
                                <div class="member-title">Supervisor</div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="single-member-area">
                        <figure><img class="img-responsive" src="~/Content/User/images/2.jpg" alt="Codeless"></figure>
                        <div class="overlay">
                            <div class="overlay-element">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <article>
                            <div class="content">
                                <h3><a href="team-details.html">Md. Abdur Rashid</a></h3>
                                <div class="member-title">Senior Developer</div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="single-member-area">
                        <figure><img class="img-responsive" src="~/Content/User/images/2.jpg" alt="Codeless"></figure>
                        <div class="overlay">
                            <div class="overlay-element">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <article>
                            <div class="content">
                                <h3><a href="team-details.html">CARMINA GONJAL</a></h3>
                                <div class="member-title">Manager</div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="single-member-area">
                        <figure><img class="img-responsive" src="~/Content/User/images/2.jpg" alt="Codeless"></figure>
                        <div class="overlay">
                            <div class="overlay-element">
                                <div class="social-icons">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <article>
                            <div class="content">
                                <h3><a href="team-details.html">Md. Abdur Rashid</a></h3>
                                <div class="member-title">Founder &amp; Lead Developer</div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

    @{
        Html.RenderPartial("Web/Footer");
    }
</body>