 <!-- footer content -->

<footer>
    <div class="">
        <p class="pull-right">
            New ads Post Company in Pakistan. |
            <span class="lead"> <i class="fa fa-apple"></i> Post To Earn</span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->




<!-- /datepicker -->
<!-- /footer content -->
</body>
</html>